@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#navbar{
    width: 100% !important;
    background-color: rgba(194, 199, 199, 0.623) !important; 
    border-bottom: solid 1px rgb(104, 103, 103);
}
.navlink{
    font-family: 'Pacifico', cursive;
    color: rgb(11, 13, 19) !important;
}